*{
    box-sizing: border-box;
}
body{
    background-color: #202329;
}
.header h1{
    text-align: center;
    color:rgb(245,245,245);
}
.container{
    width: 900px;
    margin: 0 auto;
    background-color: #3C3E44;
    border-radius: 8px;
    color:rgb(245,245,245);
}
.logo{
    display: flex;
    justify-content: center;
    padding:15px 0;
}
.logo img{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
.header__content__info{
    display: flex;
    justify-content: center;
}
.date__content__info{
    display: flex;
    justify-content: center;
}
.album__content__info{
    display: flex;
    justify-content: center;
}
h2{
   text-align: center; 
}
.members{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.location-date{
    border-top: 10px #202329 solid ;
}
.city-info{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px white dashed;
}
.city-info h3{
    display: inline;
    padding: 0;
    margin: 0;
}
.city-info .city{
    display: inline;
    padding: 0;
    margin: 0;
}
.date-info{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
