<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/artist.css">
    <title>Artist</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{.Name}}</h1>
        </div>
        <div class="container__content">

            <div class="content__left">
                <img src="{{.Image}}" alt="logo">
            </div>
            <div class="content__right">
    
                <div class="album">
                    <span class="text-gray">First Album:</span>
                    {{.FirstAlbum}}
                </div>
                <div class="date">
                    <span class="text-gray">Date:</span>
                    {{.CreationDate}}
                </div>
               <div class="members">
                   <ul>
                     <span class="text-gray">Members:</span>
                    {{range .Members}}
                    <li>
                        {{.}}
                    </li>
                    {{end}}
                </ul>
                    
            </div>
        </div>


       </div>
       <div class="container__location">
            {{range $k,$v :=$.DatesLocation}}
            <div class="section-location">
                <div class="section-location-name">
                    <span class="text-gray">Locations:</span>
                        {{$k}}
                </div>    
                <div class="section-location-dates">
                    <span class="text-gray">Dates:</span>
                    <ul>
                        {{range $_,$q:= $v}}
                        <li>
                            {{$q}}    
                        </li>
                        {{end}}
                    </ul>
                
                    </div>           
            </div>
            {{end}}
       </div>   
    </div>
    <div class="footer">
    </div>
</body>
</html>